<!-- Load the base html file and allauth for authentication -->
{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}

{% block content %}
    <div class="profile">
        <!-- Profile page to manage email address in account -->
        <h2>Manage Emails</h2>
        {% url 'account_email' as email_url %}
        {% element form form=form action=email_url method="post" %}
            {% slot body %}
                {% csrf_token %}
                <!-- Form error messages -->
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="form-error">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="form-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                    <br>
                {% endif %}
                <!-- Confirmation/invalid messages for the form -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="form-error">
                                {{ message }}
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="form-confirm">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <br>
                {% endif %}
                <!-- List of email address(es) in the user's account -->
                {% if emailaddresses|length > 1 %}
                    {% trans 'The below email addresses are associated with your account' %}
                {% else %}
                    {% trans 'The below email address is associated with your account' %}
                {% endif %}
                <hr>
                <!-- Email address details (verified, primary) -->
                {% for radio in emailaddress_radios %}
                    {% with emailaddress=radio.emailaddress %}
                        {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                            {% slot label %}
                                {{ emailaddress.email }} <br>
                                {% if emailaddress.verified %}
                                    {% element badge tags="success,email,verified" %}
                                        {% translate "Verified" %}
                                    {% endelement %}
                                {% else %}
                                    {% element badge tags="warning,email,unverified" %}
                                        {% translate "Unverified" %}
                                    {% endelement %}
                                {% endif %}
                                {% if emailaddress.primary %} |
                                    {% element badge tags="email,primary" %}
                                        {% translate "Primary" %}
                                    {% endelement %}
                                {% endif %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
            {% endslot %}
            <!-- Button to re-send verification emails if there are unverified email addresses -->
            {% slot actions %}
                {% if emailaddresses|length > 1 %}
                    <div class="email-buttons">
                        {% element button tags="secondary" type="submit" name="action_send" %}
                            {% trans 'Re-send Verification' %}
                        {% endelement %}
                    </div>
                {% else %}
                    {% for radio in emailaddress_radios %}
                        {% with emailaddress=radio.emailaddress %}
                            {% if not emailaddress.verified %}
                                <div class="email-buttons">
                                    {% element button tags="secondary" type="submit" name="action_send" %}
                                        {% trans 'Re-send Verification' %}
                                    {% endelement %}
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
                <!-- Button to remove an (unverified) email address if there are more than 1 -->
                {% if emailaddresses|length > 1 %}
                    <div class="email-buttons">
                        {% element button tags="danger,delete" type="submit" name="action_remove" %}
                            {% trans 'Remove' %}
                        {% endelement %}
                    </div>
                {% endif %}
            {% endslot %}
        {% endelement %}
        {% if can_add_email %}
            <!-- Add an email address to the account -->
            <h2>Add Email Address</h2>
            {% url 'account_email' as action_url %}
            {% element form form=form method="post" action=action_url %}
                Hoi bef bod
                {% slot body %}
                    {% csrf_token %}
                    <input type="email" id="id_email" placeholder="email address" name="email" aria-label="Add Email Address">
                {% endslot %}
                befac
                {% slot actions %}
                    {% element button name="action_add" type="submit" %}
                        {% trans "Add Email" %}
                    {% endelement %}
                    <!-- Cancel button to go back to the main profile page -->
                    <a href="/profile" class="button">Cancel</a>
                {% endslot %}
            {% endelement %}
        {% endif %}
    </div>
{% endblock content %}
