<!-- Load the base html file and allauth for authentication -->
{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
    <!-- Redirect to the Profile page if the user is logged in -->
    {% if request.user.is_authenticated %}
        <div class="mid">
            <p>You're already logged in. If you want to <a href="/password/change" class="visible-link">change your password</a>, you can do so in your <a href="/profile" class="visible-link">Profile</a>.</p>
        </div>
    <!-- If not logged in, provide password reset options-->
    {% else %}
        <div class="profile">
            <!-- Password reset page when user clicks the link in their email -->
            {% if token_fail %}
                <h2>Expired/Invalid Link</h2>
            {% else %}
                <h2>Change Password</h2>
            {% endif %}
            <!-- Expired/invalid link notification for user, requires new password reset -->
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <div class="border">
                    {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="visible-link">new password reset link</a>{% endblocktrans %}
                </div>
            <!-- Valid password reset link, user needs to select a new password -->
            {% else %}
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        <!-- Error messages from the form -->
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="form-error">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="form-error">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                            <br>
                        {% endif %}
                        <!-- Success/fail messages from the form -->
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="form-error">
                                        {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="form-confirm">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <br>
                        {% endif %}
                        <!-- Fields for the user to set a new password-->
                        <label for="id_password1"></label>
                        <input type="password" id="id_password1" placeholder="enter new password" name="password1">
                        <br>
                        <label for="id_password2"></label>
                        <input type="password" id="id_password2" placeholder="re-enter password" name="password2">
                        <br>
                        <!-- Password requirements -->
                        <p class="pass-req">
                            Note, your password:
                            <ul>
                                <li>can’t be too similar to your other personal information
                                <li>must contain at least 8 characters</li>
                                <li>can’t be a commonly used password</li>
                                <li>can’t be entirely numeric</li>
                            </ul>
                    {% endslot %}
                    <!-- Button to submit the password change -->
                    {% slot actions %}
                        {% element button type="submit" name="action" %}
                            {% trans 'Change Password' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}
