<!-- Load the base html file and allauth for authentication -->
{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block content %}
    <div class="profile">
        <!-- Confirmation page for sent email for password reset -->
        <h2>Reset Password</h2>
        <div class="border">
            {% blocktrans %}We have sent you an email. If you have not received it, please check your spam folder.{% endblocktrans %}
        </div>
    </div>
{% endblock content %}
