<!-- Load the base html file and allauth for authentication -->
{% extends "base.html" %}
{% load allauth i18n %}

{% block content %}
    <div class="profile">
        <!-- Profile page for user to change their password -->
        <h2>Change Password</h2>
        {% url 'account_change_password' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                <!-- Form error messages -->
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="form-error">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="form-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                    <br>
                {% endif %}
                <!-- Confirmation/invalid messages from the form -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="form-error">
                                {{ message }}
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="form-confirm">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <br>
                {% endif %}
                <!-- Fields for user to change the password -->
                <label for="oldpassword"></label>
                <input type="password" id="oldpassword" placeholder="enter current password" name="oldpassword">
                <br>
                <label for="id_password1"></label>
                <input type="password" id="id_password1" placeholder="enter new password" name="password1">
                <br>
                <label for="id_password2"></label>
                <input type="password" id="id_password2" placeholder="re-enter new password" name="password2">
                <br>
                <!-- Password requirements -->
                <p class="pass-req">
                    Note, your password:
                    <ul>
                        <li>can’t be too similar to your other personal information
                        <li>must contain at least 8 characters</li>
                        <li>can’t be a commonly used password</li>
                        <li>can’t be entirely numeric</li>
                    </ul>
            {% endslot %}
            <!-- Button to submit the password change -->
            {% slot actions %}
                {% element button type="submit" %}
                    {% trans "Change Password" %}
                {% endelement %}
                <button type="reset"><a href="/profile">Cancel</a></button>
            {% endslot %}
        {% endelement %}
    </div>
{% endblock content %}
