<!-- Load the base html file and allauth for authentication -->
{% extends "base.html" %}
{% load i18n allauth account %}

{% block content %}
    <!-- Redirect to the Profile page if the user is logged in -->
    {% if request.user.is_authenticated %}
        <div class="mid">
            <p>You're already logged in. If you want to <a href="/password/change" class="visible-link">change your password</a>, you can do so in your <a href="/profile" class="visible-link">Profile</a>.</p>
        </div>
    <!-- If not logged in, provide password reset options-->
    {% else %}
        <div class="profile">
            <!-- Page to request password reset email -->
            <h2>Reset Password</h2>
            {% url 'account_reset_password' as reset_url %}
            {% element form form=form method="post" action=reset_url %}
                <!-- Field for user to enter email address to receive password reset email -->
                {% slot body %}
                    {% csrf_token %}
                    {% trans "Enter your email address below, and we'll send you an email to reset your password. This email will also include your username." %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}
                <!-- Button to submit the reset password request -->
                {% slot actions %}
                    {% element button type="submit" %}
                        {% trans 'Reset Password' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        </div>
    {% endif %}
{% endblock content %}
