{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
    <div class="profile">
        {% if token_fail %}
            <h2>Expired/Invalid Link</h2>
        {% else %}
            <h2>Change Password</h2>
        {% endif %}
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="border">
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="visible-link">new password reset link</a>{% endblocktrans %}
            </div>
        {% else %}
            {% element form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="form-error">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="form-error">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    <br>
                    {% endif %}
                    <label for="id_password1"></label>
                    <input type="password" id="id_password1" placeholder="enter new password" name="password1">
                    <br>
                    <label for="id_password2"></label>
                    <input type="password" id="id_password2" placeholder="re-enter password" name="password2">
                    <br>
                    <p class="pass-req">
                        Note, your password:
                        <ul>
                            <li>can’t be too similar to your other personal information
                            <li>must contain at least 8 characters</li>
                            <li>can’t be a commonly used password</li>
                            <li>can’t be entirely numeric</li>
                        </ul>
                {% endslot %}
                {% slot actions %}
                    {% element button type="submit" name="action" %}
                        {% trans 'Change Password' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% endif %}
    </div>
{% endblock content %}
