<!-- Load the base html file and allauth for authentication -->
{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
    <!-- Redirect to the Profile page if the user is logged in -->
    {% if request.user.is_authenticated %}
        <div class="mid">
            <p>You're already logged in. If you want to <a href="/password/change" class="visible-link">change your password</a>, you can do so in your <a href="/profile" class="visible-link">Profile</a>.</p>
        </div>
    <!-- If not logged in, provide password reset options-->
    {% else %}
        <div class="profile">
            <!-- Page notifying user of successful password change -->
            <h2>Password Changed</h2>
            <div class="border">
                {% blocktrans %}Your password was successfully changed!{% endblocktrans %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
