@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid&display=swap');

* {
    font-family: 'Londrina Solid', sans-serif;
    font-size: 24px;
}

body {
    background: url('../images/background.png') no-repeat;
	background-size: cover;
}

h1 {
    font-family: 'Londrina Outline', sans-serif;
    font-size: 75px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black
}

#grad {
    height: 100px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to left, rgba(255,0,0,0.5), rgba(255,165,0,0.5), rgba(255,255,0,0.5), rgba(0,128,0,0.5), rgba(255,255,0,0.5), rgba(0,0,255,0.5), rgba(147,112,219,0.5), rgba(255,105,180,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,165,0,0.5), rgba(255,255,0,0.5), rgba(0,128,0,0.5), rgba(255,255,0,0.5), rgba(0,0,255,0.5), rgba(147,112,219,0.5),  rgba(255,105,180,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,165,0,0.5), rgba(255,255,0,0.5), rgba(0,128,0,0.5), rgba(255,255,0,0.5), rgba(0,0,255,0.5), rgba(147,112,219,0.5), rgba(255,105,180,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,165,0,0.5) , rgba(255,255,0,0.5), rgba(0,128,0,0.5), rgba(255,255,0,0.5), rgba(0,0,255,0.5), rgba(147,112,219,0.5), rgba(255,105,180,0.5)); /* Standard syntax (must be last) */
}

nav div {
    display: flex;
    text-align: center;
    justify-content: center;
}

nav a {
    font-size: 35px;
}

nav a:active {
    color: white;
}

nav button {
    margin: 20px 10px 20px 10px;
    background: transparent;
    border: solid black 3px;
    border-top: dashed black 10px;
}

nav button:hover {
    border-top: solid black 3px;
    border-bottom: dashed black 10px;
}

nav button:active {
    border: solid white 3px;
    border-bottom: dashed white 10px;
}

footer p {
    font-size: 16px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.mid {
    display: flex;
    width: 75%;
    justify-content: center;
    border: solid black 2px;
    margin-right: 15px;
    margin-top: 20px;
}

.profile {
    display: flex;
    width: 25%;
    justify-content: center;
    flex-direction: column;
}

.profile input {
    margin-bottom: 15px;
}

.profile h2, .profile form {
    border: solid black 2px;
}

.profile form {
    padding: 15px;
}

.widget-buttons {
    border: solid black 2px;
    border-top: none;
    padding-bottom: 15px;
}

.widget-buttons button {
    margin-top: 15px;
}

.profile-details {
    border: solid black 2px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: left;
}

.profile-details form {
    border: none;
    padding: 0;
}

.form-error {
    color: red;
}

.profile .border {
    border: solid black 2px;
    padding: 10px;
}

.visible-link {
    text-decoration: underline;
    color: red;
}

.profile .partial-border {
    border: solid black 2px;
    border-bottom: none;
    padding: 10px;
}

.pass-req {
    text-align: left;
    margin-bottom: -20px;
    margin-top: 0;
}

li {
    text-align: left;
}

.profile-margin {
    margin-top: -15px;
}

.profile-email {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 20px;
    margin-bottom: -40px;
}

hr {
    border-top: solid black 2px;
}

.email-buttons button {
    margin-bottom: 15px;
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15px;
    align-items: baseline;
}

.profile-form {
    display: flex;
    flex-direction: row;

}

.profile-input {
    justify-content: space-between;
    align-items: baseline;
}

.profile-input button {
    margin-left: 20px;
}

.form-confirm {
    color: green;
}

input:valid, input:invalid, select {
    background-color: pink;
}

main button {
    background-color: hotpink;
    border: solid black 1px;
}

main button:hover {
    background-color: #FF0080FF;
    border: solid black 1px;
}

main button:active, main button:active a {
    border: solid white 1px;
    color: white;
}
