<!-- Load the base html file -->
{% extends "base.html" %}

{% block content %}
    <div class="mid">
        {{ add_set_form.media.css }}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Form error messages -->
            {% if form.errors %}
                <br>
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="form-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="form-error">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            <!-- Confirmation/invalid messages -->
            {% if messages %}
                <br>
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        <div class="form-error">
                            {{ message }}
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="form-confirm">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- Form to add a set to the collection -->
            {{ add_set_form.as_p }}
            <div class="mid-buttons">
                <!-- Buttons to save the set, create a new one, or cancel -->
                <button type="submit" name="add-set-button" value="add-set-button">Save to Collection</button>
                <button><a href="/create-set">Create New Set</a></button>
                <button><a href="/collections">Cancel</a></button>
            </div>
        </form>
        <!-- Script for Jquery to add set images -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ add_set_form.media.js }}
    </div>
    <div class="hide-profile">
        <!-- Include mini profile widget -->
        {% include 'profile_widget.html' %}
    </div>
{% endblock %}