{% extends "base.html" %}

{% block content %}
    <div class="mid">
        {{ add_set_form.media.css }}
        <form method="POST">
            {% csrf_token %}
            {{ add_set_form.as_p }}
            <div class="mid-buttons">
                <button type="submit" name="add-set-button" value="add-set-button">Save to Collection</button>
                <button type="submit"><a href="/create-set">Create New Set</a></button>
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ add_set_form.media.js }}
    </div>
    {% include 'profile_widget.html' %}
{% endblock %}