<!-- Load the base html file -->
{% extends "base.html" %}

{% block content %}
    <div class="mid">
        <!-- Include the form to create a collection if the user is logged in -->
        {% if request.user.is_authenticated %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Form to create a new collection -->
                {{ create_col_form.as_p }}
                <em>Max file size 10MB</em>
                <div class="mid-buttons">
                    <!-- Buttons to save the collection, or cancel -->
                    <br>
                    <button type="submit" name="create-col-button" value="create-col-button">Save</button>
                    <a href="/collections" class="button">Cancel</a>
                </div>
            </form>
        <!-- Advise the user to log in or create an account if they're not logged in -->
        {% else %}
            <p><a href="/login/" class="visible-link">Log in</a> or <a href="/signup/" class="visible-link">create an account</a> to save and view your Lego collections!</p>
        {% endif %}
    </div>
    <div class="hide-profile">
        <!-- Include mini profile widget -->
        {% include 'profile_widget.html' %}
    </div>
{% endblock %}