<!-- Load the base html file -->
{% extends "base.html" %}

{% block content %}
    <div class="mid">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Form to create a new lego set -->
            {{ create_set_form.as_p }}
            <em>Max file size 10MB</em>
            <div class="mid-buttons">
                <!-- Buttons to save the set or cancel -->
                <br>
                <button type="submit" name="create-set-button" value="create-set-button">Save</button>
                <a href="/collections" class="button">Cancel</a>
            </div>
        </form>
    </div>
    <div class="hide-profile">
        <!-- Include mini profile widget -->
        {% include 'profile_widget.html' %}
    </div>
{% endblock %}