<!-- Load the base html file and static file folders -->
{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="mid">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <!-- Form error messages -->
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="form-error">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="form-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                <!-- Confirmation/invalid messages -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="form-error">
                                {{ message }}
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="form-confirm">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- Show collection details if one exists -->
                {% if collection %}
                    {% for col in collection %}
                        <div class="mid-flex">
                            <div class="flex-hor">
                                <!-- Show existing collection image and title, and editing options for both -->
                                <div class="edit-img-title">
                                    {% if "col-placeholder" in col.collection_pic.url %}
                                        <img class="col-img" src="{% static 'images/col-default.webp' %}" alt="placeholder collection image">
                                    {% else %}
                                        <img class="col-img" src="{{ col.collection_pic.secure_url }}" alt="collection image">
                                    {% endif %}
                                    <div class="col-edit-opt">
                                        {{ edit_col_form.collection_name }}
                                        {{ edit_col_form.collection_pic }}
                                    </div>
                                </div>
                                <div class="edit-set-button">
                                    <!-- Buttons to add or create a set for a collection -->
                                    <a href="/add-set" class="button">Add Set</a>
                                    <a href="/create-set" class="button">Create New Set</a>
                                </div>
                                <!-- Column selection for smaller screens -->
                                {% if sets %}
                                    <div id="mini-edit-table-toggle"></div>
                                {% endif %}
                            </div>
                            <div class="col-sets">
                                <!-- Display set details if the collection has any -->
                                {% if sets %}
                                    <table>
                                        <tr>
                                            <th class="mob-hide">Set Image</th>
                                            <th class="table-small mob-hide">Set Number</th>
                                            <th>Set Name</th>
                                            <th class="table-small mob-hide"># Pieces</th>
                                            <th class="edit-set-status-col">Build Status</th>
                                            <th class="edit-set-loc-col">Set Location</th>
                                            <th class="edit-set-miss-col">Missing Pieces</th>
                                            <th class="edit-set-fav-col">Favourite</th>
                                            <th class="edit-set-del-col">Delete</th>
                                        </tr>
                                        <!-- For each set, show the details and editing options -->
                                        {% for form, set in form_set %}
                                            <tr>
                                                <td class="mob-hide">
                                                    {% if "set-placeholder" in set.set.set_picture.url %}
                                                        <img class="set-img" src="{% static 'images/set-default.webp' %}" alt="placeholder set image">
                                                    {% else %}
                                                        <img class="set-img" src="{{ set.set.set_picture.secure_url }}" alt="set image">
                                                    {% endif %}
                                                </td>
                                                <td class="table-small mob-hide">{{ set.set.set_number }}</td>
                                                <td>{{ set.set.set_name }}</td>
                                                <td class="table-small mob-hide">{{ set.set.nr_of_pieces }}</td>
                                                <td class="edit-set-status-col">{{ form.build_status }}</td>
                                                <td class="edit-set-loc-col">{{ form.set_location }}</td>
                                                <td class="edit-set-miss-col">{{ form.missing_pieces }}</td>
                                                <td class="edit-set-fav-col">{{ form.favourited }}</td>
                                                <td class="edit-set-del-col"><label for="delete-set"><input type="checkbox" name="delete-set" value="{{ set.id }}" id="delete-set"></label></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                <!-- If no sets are in the collection, advise the user to add them -->
                                {% else %}
                                    <p class="col-no-sets">No sets in collection. Add a set in the upper right.</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="mid-buttons">
                        <!-- Buttons to save/discard changes when editing collection details -->
                        <button type="submit" name="update-col-button" value="update-col-button">Save Changes</button>
                        <a href="/collections" class="button">Discard Changes</a>
                    </div>
                <!-- If there is no collection, show a create collection button -->
                {% else %}
                    <a href="/create-collection" class="button">Create Collection</a>
                {% endif %}
            {% endif %}
        </form>
    </div>
    <div class="hide-profile">
        <!-- Include mini profile widget -->
        {% include 'profile_widget.html' %}
    </div>
    <!-- Load Jquery scripts that enable sorting and filtering of sets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}