<div class="profile">

    {% if user.is_authenticated %}
        <h2>Profile</h2>
        <div class="profile-details">
            <p>Username: {{request.user.username}}</p>
            <p>Sets owned: </p>
            <p>Wish list: </p>
            <p>Viewable collections: </p>
            <form method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit">Log Out</button>
            </form>
        </div>

    {% else %}
        <h2>Log In</h2>
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="form-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="form-error">
                        {{ error|escape }}
                    </div>
                {% endfor %}
                <br>
            {% endif %}
            <label for="id_login"></label>
            <input type="text" id="id_login" placeholder="username" name="login">
            <label for="id_password"></label>
            <input type="password" id="id_password" placeholder="password" name="password">
            <br>
            <button type="submit">Log In</button>
        </form>
        <div class="profile-buttons">
            <button><a href="{% url 'account_signup' %}">Create Account</a></button>
            <br>
            <button><a href="{% url 'account_reset_password' %}">Forgot Username/Password</a></button>
        </div>
    {% endif %}
</div>