{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="profile">
            <h2>Profile</h2>
            <div class="profile-details">
                {% if form.errors %}
                    <br>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="form-error">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="form-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="form-error">
                                {{ message }}
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="form-error">
                                {{ message }}
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="form-confirm">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% include 'username_change.html' %}
                {% url 'account_email' as action_url %}
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        Current Email: {{request.user.email}}
                        <div class="profile-email">
                            {% element field name="email" value=form.email.value errors=form.email.errors type="email" %}
                                {% slot label %}
                                    {% translate "Change Email" %}:
                                {% endslot %}
                            {% endelement %}
                            {% slot actions %}
                                {% element button name="action_add" type="submit" %}
                                    {% trans "Save" %}
                                {% endelement %}
                            {% endslot %}
                    {% endslot %}
                {% endelement %}
                        </div>
                <p>Privacy: {{ request.user.privacy }} </p>
                <p>Collection: </p>
                <p>Sets owned: </p>
                <p>Wish list: </p>
                <p>Viewable collections: </p>
                <div class="profile-buttons">
                    <button><a href="{% url 'account_change_password' %}">Change Password</a></button>
                    <button><a href="/email">Manage Emails</a></button>
                    <form method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'profile_widget.html' %}
    {% endif %}
{% endblock content %}
