<!-- Load static file folders -->
{% load static %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Form error messages -->
    {% if user.is_authenticated %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="form-error">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="form-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endif %}
        <!-- Form confirmation/invalid messages -->
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="form-error">
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO or message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="form-confirm">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- Check if a collection exists for the user -->
        {% if collection %}
            {% for col in collection %}
                <div class="mid-flex">
                    <div class="flex-hor">
                         <!-- Display the collection picture and title -->
                        <div class="col-img-title">
                            {% if "col-placeholder" in col.collection_pic.url %}
                                <img class="col-img" src="{% static 'images/col-default.webp' %}" alt="placeholder collection image">
                            {% else %}
                                <img class="col-img" src="{{ col.collection_pic.url }}" alt="collection image">
                            {% endif %}
                            {{ col.collection_name }}
                        </div>
                        <!-- Check if the collection has any sets -->
                        {% if sets %}
                            <div class="set-sort-filter">
                                <div class="set-sort">
                                    <!-- Dropdown for sorting sets -->
                                    <label for="set-sort" aria-label="Sort Sets"></label>
                                    <select id="set-sort" name="set-sort" onChange=changeSort(this.value)>
                                        <option value="instruction" selected="selected" disabled>Sort Sets</option>
                                        <option value="nr">Set Number</option>
                                        <option value="name">Set Name</option>
                                        <option value="pieces"># Pieces</option>
                                        <option value="status">Build Status</option>
                                        <option value="loc">Set Location</option>
                                        <option value="missing">Missing Pieces</option>
                                        <option value="fav">Favourite</option>
                                    </select>
                                    <br>
                                    <!-- Button to reverse the selected sorting -->
                                    <button id='reverse-sort-btn' class="set-sort-btn" onclick=reverseSort()>Reverse Sort</button>
                                    <br>
                                    <!-- Button to reset the sorting -->
                                    <a href="/collections" class="button set-sort-btn">Reset Sort</a>
                                </div>
                                <div class="set-filter">
                                    <!-- Dropdown to filter the set data -->
                                    <label for="set-filter" aria-label="Set Filter"></label>
                                    <select id="set-filter" name="set-filter">
                                        <option selected="selected" disabled>Filter Sets</option>
                                    </select>
                                    <br>
                                    <!-- Dropdown for the subfilter to filter set data -->
                                    <label for="sub-filter" aria-label="Set Subfilter"></label>
                                    <select id="sub-filter" name="sub-filter" onChange=changeFilter(this.value)>
                                        <option selected="selected">Set Filter Details</option>
                                    </select>
                                    <br>
                                    <!-- Button to reset the set filter -->
                                    <a href="/collections" class="button set-filter-btn">Reset Filter</a>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Buttons to manage the collection -->
                        <div class="col-set-button">
                            <a href="/add-set" class="button">Add Set</a>
                            <a href="/create-set" class="button">Create New Set</a>
                            <a href="/edit-collection" class="button">Edit Collection</a>
                        </div>
                        {% if sets %}
                            <!-- Column selection for smaller screens -->
                            <div id="mini-table-toggle">
                            </div>
                        {% endif %}
                            <!-- Hamburger menu for smaller screens-->
                            <div id="ham-menu">
                                <div id="ham-menu-links">
                                    <a onclick=reverseSort()>Reverse Sort</a>
                                    <br>
                                    <a href="/collections">Reset Sort</a>
                                    <br>
                                    <a href="/collections">Reset Filter</a>
                                    <br>
                                    <a href="/add-set">Add Set</a>
                                    <br>
                                    <a href="/create-set">Create New Set</a>
                                    <br>
                                    <a href="/edit-collection">Edit Collection</a>
                                    <br>
                                    <button type="submit" name="delete-col-button" value="delete-col-button" id='ham-del-button' onclick="return confirm('Are you sure you want to delete your collection? This cannot be undone')">Delete Collection</button>
                                </div>
                                <div class="ham-icon">
                                    <a href="javascript:void(0);" id="hamburger">&#9776;</a>
                                </div>
                            </div>
                    </div>
                    <div class="col-sets">
                        {% if sets %}
                            <!-- Page selection for sets -->
                            <div class="pagination">
                                <span class="step-links">
                                    <span class="current">
                                        Page {{ sets.number }} of {{ sets.paginator.num_pages }}
                                    </span>
                                    <!-- Link format for sorted or filtered sets -->
                                    {% if 'page' not in request.get_full_path and '?' in request.get_full_path %}
                                        {% if sets.has_previous %}
                                            <br>
                                            <a href="{{ request.get_full_path }}&page=1" class="visible-link">&laquo; first</a>
                                            <a href="{{ request.get_full_path }}&page={{ sets.previous_page_number }}" class="visible-link">&lt; previous</a>
                                        {% endif %}
                                        {% if sets.has_next %}
                                            <br>
                                            <a href="{{ request.get_full_path }}&page={{ sets.next_page_number }}" class="visible-link">next &gt;</a>
                                            <a href="{{ request.get_full_path }}&page={{ sets.paginator.num_pages }}" class="visible-link">last &raquo;</a>
                                        {% endif %}
                                    <!-- Link format for sorted or filtered sets, in combination with pagination -->
                                    {% elif '&page' in request.get_full_path and '?' in request.get_full_path %}
                                        {% if sets.has_previous %}
                                            <br>
                                            <a href="{{ request.get_full_path|cut:'&page='|slice:-1 }}&page=1" class="visible-link">&laquo; first</a>
                                            <a href="{{ request.get_full_path|cut:'&page='|slice:-1 }}&page={{ sets.previous_page_number }}" class="visible-link">&lt; previous</a>
                                        {% endif %}
                                        {% if sets.has_next %}
                                            <br>
                                            <a href="{{ request.get_full_path|cut:'&page='|slice:-1 }}&page={{ sets.next_page_number }}" class="visible-link">next &gt;</a>
                                            <a href="{{ request.get_full_path|cut:'&page='|slice:-1 }}&page={{ sets.paginator.num_pages }}" class="visible-link">last &raquo;</a>
                                        {% endif %}
                                    <!-- Link format pagination without filter/sorting -->
                                    {% else %}
                                        {% if sets.has_previous %}
                                            <br>
                                            <a href="?page=1" class="visible-link">&laquo; first</a>
                                            <a href="?page={{ sets.previous_page_number }}" class="visible-link">&lt; previous</a>
                                        {% endif %}
                                        {% if sets.has_next %}
                                            <br>
                                            <a href="?page={{ sets.next_page_number }}" class="visible-link">next &gt;</a>
                                            <a href="?page={{ sets.paginator.num_pages }}" class="visible-link">last &raquo;</a>
                                        {% endif %}
                                    {% endif %}
                                </span>
                            </div>
                            <!-- Table to display set data -->
                            <table>
                                <tr>
                                    <th class="set-pic-col">Set Image</th>
                                    <th class="set-nr-col">Set Number</th>
                                    <th>Set Name</th>
                                    <th class="set-pieces-col"># Pieces</th>
                                    <th class="set-status-col">Build Status</th>
                                    <th class="set-loc-col">Set Location</th>
                                    <th class="set-miss-col">Missing Pieces</th>
                                    <th class="set-fav-col">Favourite</th>
                                </tr>
                                {% for set in sets %}
                                    <tr>
                                        <td class="set-pic-col">
                                            {% if "set-placeholder" in set.set.set_picture.url %}
                                                <img class="set-img" src="{% static 'images/set-default.webp' %}" alt="placeholder set image">
                                            {% else %}
                                                <img class="set-img" src="{{ set.set.set_picture.url }}" alt="set image">
                                            {% endif %}
                                        </td>
                                        <td class="set-nr-col">{{ set.set.set_number }}</td>
                                        <td>{{ set.set.set_name }}</td>
                                        <td class="set-pieces-col">{{ set.set.nr_of_pieces }}</td>
                                        <td class="set-status-col">{{ set.get_build_status_display }}</td>
                                        <td class="set-loc-col">{{ set.set_location }}</td>
                                        <td class="set-miss-col">{{ set.missing_pieces }}</td>
                                        <td class="set-fav-col">
                                            {% if set.favourited %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        <!-- Message to display if there are no sets in the collection or filtered view -->
                        {% else %}
                            <p class="col-no-sets">No sets in (filtered) collection. <a href="/add-set/" class="visible-link">Add</a> or <a href="/create-set/" class="visible-link">create</a> a set, or <a href="/collections" class="visible-link">click here</a> to reset your filters.</p>
                        {% endif %}
                    </div>
                    <!-- Button to delete collection -->
                    <div class="del-col-button">
                        <button type="submit" name="delete-col-button" value="delete-col-button" onclick="return confirm('Are you sure you want to delete your collection? This cannot be undone')">Delete Collection</button>
                    </div>
                </div>
            {% endfor %}
        <!-- Button to create collection if one doesn't exist -->
        {% else %}
            <a href="/create-collection" class="button col-no-sets">Create Collection</a>
        {% endif %}
    {% endif %}
</form>
<!-- Load Jquery scripts that enable sorting and filtering of sets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>