{% load static %}

{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <link rel='stylesheet' href='{% static "css/style.css" %}'>

    <title>Lego Collection</title>
    <link rel="icon" type="image/x-icon" href="../../static/favicon.ico">
</head>
<body>
    <h1>Welcome to Your online Lego Collection</h1>
    <nav></nav>
    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
</body>
<footer>
    <p>
        {% block copyright %}
            Made by CrazyCooky
        {% endblock copyright %}
    </p>
</footer>
</html>