/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid&display=swap');

/* Global styles for font */
* {
    font-family: 'Londrina Solid', sans-serif;
    font-size: 24px;
    color: #b5b3ba;
}

/* Background style for the whole page body */
body {
    background: #201836;
    max-width: 1800px;
    margin: auto;
}

/* Styling for site header */
h1 {
    font-family: 'Londrina Outline', sans-serif;
    font-size: 50px;
    text-align: center;
}

/* Styling for all "standard" links */
a {
    text-decoration: none;
    color: black;
}

/* Styling for navigation bar and buttons*/
nav div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

nav button {
    font-size: 35px;
    margin: 20px 10px 20px 10px;
    background: #b5b3ba;
    border: solid #201836 3px;
    border-top: dashed #201836 10px;
}

nav button:hover {
    border-top: solid #201836 3px;
    border-bottom: dashed #201836 10px;
}

nav button:active {
    color: #b5b3ba;
    border: solid #b5b3ba 3px;
    border-bottom: dashed #b5b3ba 10px;
    background: #201836;
}

/* Styling for main page content buttons */
select {
    color: black;
}

input {
    color: black;
}

.button {
    padding: 0 7px;
    text-align: center;
    color: black;
}

button {
    margin: 7px 20px;
    color: black;
}

main .button, main button {
    background-color: #a393c9;
    border: solid black 1px;
    border-radius: 0.2em;
}

main .button:hover, main button:hover {
    background-color: #8364cc;
    border: solid black 1px;
    border-radius: 0.2em;
}

main .button:active, main button:active {
    border: solid #b5b3ba 1px;
    border-radius: 0.2em;
    color: #b5b3ba;
}

/* Adding asterisks for required items in forms */
label.required::before {
    content: '*';
}

/* Left-aligning all list items */
li {
    text-align: left;
}

/* Style for horizontal line elements (content separators) */
hr {
    border-top: solid #b5b3ba 2px;
}

/* Styling for various input fields */
input:valid, input:invalid, select {
    background-color: #a393c9;
}

input[type="file"] {
    border: 1px solid black;
    border-radius: 0.2em;
}

input[type="file"]:hover {
    background-color: #8364cc;
}

input[type="file"]:active {
    border: 1px solid #b5b3ba;
    color: #b5b3ba;
}

input[type="file"]::file-selector-button {
    font-family: 'Londrina Solid', sans-serif;
    border: none;
    border-right: 1px solid black;
    border-radius: 0.2em;
    background-color: #8364cc;
}

input[type="file"]::file-selector-button:hover {
    background-color: #8364cc;
}

input[type="file"]::file-selector-button:active {
    border-right: 1px solid #b5b3ba;
    color: #b5b3ba;
}

/* Pagination styling for collections */
.pagination {
    margin: 10px auto 25px auto;
}

.step-links .visible-link {
    margin: auto 5px;
}

/* Table styling for collections */
table {
    margin: auto auto 20px auto;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 5px 5px;
    border: 1px solid darkgrey;
    word-wrap: break-word;
    width: 100%;
    max-width: 0;
}

td input {
    width: 80%;
}

td select {
    width: 95%;
}

/* Footer styling */
footer {
    font-size: 16px;
}

/* Styling for collection image */
#id_collection_pic {
    width: 300px;
}

/* Styling for collection sorting and filters */
#set-sort, #set-filter, #sub-filter {
    margin-bottom: 15px;
}

#reverse-sort-btn {
    margin: auto auto 15px auto;
}

/* Hide hamburger menu (only used for smaller screens) */
#ham-menu {
    display: none;
    float: right;
}

#toggle-col-buttons {
    display: none;
}

/* Main styling for page sections */
.container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}

.mid {
    display: flex;
    width: 80%;
    justify-content: center;
    border: solid #b5b3ba 2px;
    border-radius: 0.2em;
    margin: 20px 8px 0 8px;
    padding: 20px;
}

.mid form {
    text-align: left;
    max-width: 100%;
}

.mid-buttons {
    text-align: center;
}

.mid-buttons .button, .mid-buttons button {
    margin-left: 8px;
    margin-right: 8px;
}

.small-note {
    font-size: 18px;
    margin-right: 10px;
}

/* Styling for all form errors and confirmation messages */
.errorlist {
    list-style: none;
    color: darkred;
    text-align: center;
}

.form-error {
    color: darkred;
    text-align: center;
    margin-top: 15px;
}

.form-confirm {
    color: green;
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for all links meant to be visible (overriding global a styling) */
.visible-link {
    text-decoration: underline;
    color: #4429d9;
}

/* Profile styling */
.mini-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile {
    display: flex;
    min-width: 25%;
    justify-content: center;
    flex-direction: column;
}

.profile-input {
    justify-content: space-between;
    align-items: baseline;
}

.profile input {
    margin-bottom: 15px;
    width: 200px;
}

#email_radio_0 {
    width: auto;
}

.mini-profile input {
    margin-bottom: 15px;
    width: 90%;
}

.profile h2, .profile form, .mini-profile h2, .mini-profile form {
    border: solid #b5b3ba 2px;
    border-radius: 0.2em;
}

.profile form, .mini-profile form {
    padding: 15px;
}

.profile-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.profile-username-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 20px;
}

.profile-details {
    border: solid #b5b3ba 2px;
    border-radius: 0.2em;
    padding: 0 15px 15px 15px;
    text-align: left;
}

.profile .border, .mini-profile .border {
    border: solid #b5b3ba 2px;
    border-radius: 0.2em;
    padding: 10px;
}

.profile-details form {
    border: none;
    border-radius: 0.2em;
    padding: 0;
}

.mini-profile .button {
    max-width: 90%;
}

.widget-buttons {
    border: solid black 2px;
    border-top: none;
    border-radius: 0.2em;
    padding-bottom: 15px;
}

.widget-buttons button {
    margin-top: 20px;
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15px;
    align-items: baseline;
}

.profile-input .button {
    margin-left: 20px;
}

.profile-buttons .button {
    margin-left: 10px;
    margin-right: 10px;
}

.email-buttons .button, .mid .button {
    margin-bottom: 15px;
}

.delete-buttons {
    display: flex;
    align-items: baseline;
}

.delete-buttons input {
    width: auto;
    margin: auto;
}

.delete-buttons button {
    margin: auto auto auto 7px;
}

.profile .partial-border, .mini-profile .partial-border {
    border: solid #b5b3ba 2px;
    border-bottom: none;
    border-radius: 0.2em;
    padding: 10px;
}

.profile-margin {
    margin-top: -15px;
}

.current-email {
    margin: 5px auto 15px auto;
}

.pass-req {
    text-align: left;
    margin-bottom: -20px;
    margin-top: 0;
}

/* Collection styling */
.mid-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.flex-hor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 20px 20px 20px;
}

.col-title {
    margin-right: min(150px);
    margin-left: min(150px);
}

.col-img-title {
    display: flex;
    align-items: center;
    margin: auto 15px;
}

.col-img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    margin: auto 10px;
}

.col-details {
    display: flex;
    justify-content: center;
}

.col-no-sets {
    margin-bottom: 20px;
}

.col-sets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.col-set-button, .edit-set-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-set-button .button, .edit-set-button .button {
    margin: 0 10px;
}

.set-img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 15%;
}

.set-sort-filter {
    display: flex;
    flex-direction: row;
}

.set-sort, .set-filter {
    margin: auto 10px;
}

.set-fav-col, .edit-set-fav-col, .set-del-col, .edit-set-del-col {
    width: 55%;
}

.table-small {
    width: 75%;
}

/* Styling for select2 field used to search for and add sets to collections */
.select2, .select2-container, .select2-container--default, .select2-container--below, .select2-container--open {
    width: 100% !important;
    background-color: #a393c9 !important;
}

.select2-selection__arrow, .select2-container--default, .select2-selection--single, .select2-selection, .select2-results__option, .select2-search--dropdown {
    background-color: #a393c9 !important;
    color: black !important;
}

.select2-container--default, .select2-selection--single, .select2-selection__rendered {
    color: black !important;
}

.select2-dropdown {
    border: none !important;
}

.select2-search--dropdown, .select2-search__field {
    border: 1px solid black;
    border-top: none;
}

.select2-container--default .select2-selection--single {
    border: 1px solid black !important;
    border-radius: 0 !important;
}

.select2-results__option--highlighted {
    background: #4429d9 !important;
}

#select2-id_set-results {
    border: 1px solid black;
    border-top: none;
}

/* Edit collection styling */
.del-col-button {
    margin-left: 20px;
}

.edit-img-title {
    display: flex;
    align-items: center;
}

.edit-img-title input {
    margin-right: 20px;
    margin-left: 15px;
}


/* Media Queries */
/* For screens 1300px wide and less */
@media screen and (max-width: 1300px) {
    /* Global font sizes */
    * {
        font-size: 21px;
    }

    h1 {
        font-size: 40px;
        margin: 15px auto;
    }

    /* Gradient for navigation bar background */
    #grad {
        height: 60px;
        margin-top: 10px;
    }

    /* Navigation buttons */
    nav button {
        font-size: 25px;
        margin: auto 10px;
        border-top: dashed black 7px;
    }

    nav button:hover {
        border-bottom: dashed black 7px;
    }

    nav button:active {
        border-bottom: dashed white 7px;
    }

    /* Profile page styling */
    .hide-profile .mini-profile {
        display: none;
    }

    .mini-profile {
        width: 100%;
        max-width: 300px;
    }

    .profile-input input {
        width: 150px;
    }

    .profile input {
        width: 130px;
    }

    .profile-email {
        margin: auto auto -40px auto;
    }

    /*.profile-email .button {*/
    /*    margin: auto auto 37px 20px;*/
    /*}*/

    .delete-buttons input {
        width: auto;
    }

    /* Collection page styling */
    /* Collection button spacing */
    .flex-hor {
        display: flex;
        justify-content: inherit;
    }

    /* Collection title and image in column view */
    .col-img-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .col-img-title img {
        max-height: 75px;
        max-width: 75px;
        margin: auto;
    }

    /* Collection sort and filter */
    .set-sort {
        vertical-align: top;
        margin-bottom: 19px;
    }

    /* Table with sets */
    .set-img {
        max-height: 75px;
        max-width: 75px;
    }

    /* Edit collection page styling */
    #id_collection_pic {
        margin-top: 10px;
        width: 220px;
    }

    .col-edit-opt {
        display: flex;
        flex-direction: column;
    }

    .col-edit-opt input {
        margin: 7px 10px;
        width: 150px;
    }

    .edit-set-button {
        display: flex;
        flex-direction: column;
    }

    .edit-set-button .button {
        margin: 7px auto 7px 10px;
    }
}


/* For screens 900px wide and less */
@media screen and (max-width: 900px) {
    /* Hide Home button to save space */
    .non-mobile {
        display: none;
    }

    /* Navigation buttons */
    nav button {
        font-size: 21px;
    }

    /* Hamburger menu for collection options */
    #hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: #b5b3ba;
    }

    #ham-menu {
        text-align: right;
        display: flex;
        align-items: center;
        position: relative;
    }

    #ham-menu-links {
        display: none;
        text-align: left;
        background: #a393c9;
        border: solid 1px black;
        padding: 10px;
        z-index: 2;
        margin-top: 10px;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }

    #ham-del-button {
        border: none;
        background-color: inherit;
        text-decoration: inherit;
        border-radius: inherit;
        margin-left: -6px;
        margin-bottom: inherit;
    }

    .ham-icon {
        margin-bottom: 75px;
    }

    .del-col-button {
        display: none;
    }

    .set-sort-btn, .set-filter-btn, .col-set-button {
        display: none;
    }

    /* Collection Content in column view */
    .flex-hor {
        display: flex;
        flex-direction: column;
    }

    /* Column toggle menu for collection edit/view for small screens */
    #multiselect {
        width: 150px;
    }

    #col-toggle-checkboxes {
        display: none;
        border: 1px black solid;
    }

    #col-toggle-checkboxes label {
        display: block;
    }

    #col-toggle-checkboxes label:hover {
        background-color: #a393c9;
    }

    .select-col-box select {
        max-width: 100%;
    }

    /* Adjustments to vertically-align collection buttons and hamburger menu */
    #set-filter, #sub-filter {
        margin: -20px 5px auto 5px;
        width: 100%;

    }

    .set-sort-filter {
        display: flex;
        flex-direction: column;
    }

    .set-filter {
        display: flex;
        flex-direction: row;
    }

    .set-sort {
        margin: auto;
    }

    .ham-icon {
        margin: auto;
    }

    /* Styling for collection edit page */
    .edit-img-title {
        display: flex;
        flex-direction: column;
    }

    .col-edit-opt {
        margin-bottom: 15px;
    }

    .col-edit-opt input {
        margin: 10px auto auto auto;
    }

    .edit-set-button {
        display: none;
    }

    .mob-hide {
        display: none;
    }

    /* Table with sets */
    .set-img {
        max-height: 50px;
        max-width: 50px;
    }

    /* Create set form fields */
    #id_set_picture {
        width: 85%;
    }
}


/* Media Queries */
/* For screens 400px wide and less */
@media screen and (max-width: 400px) {
    /* Decrease global font size and enable overflow */
    * {
        font-size: 18px;
        overflow-y: hidden;
        overflow-x: auto;
    }

    /* Exclude certain elements from overflow */
    button, input, .profile-input, .set-filter, .select2, .select2-container {
        overflow: unset;
        margin: auto;
    }

    /* Navigation buttons */
    nav button {
        font-size: 21px;
    }

    /* Set images */
    .set-img {
        max-height: 40px;
        max-width: 40px;
    }
}
